/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #efefef !important;
}
h1,h2,h3 {
  margin-bottom: 20px;
}
.container {
  padding: 20px;
  border-radius: 3px;
  margin-top:60px;
  background:white;
}
.snippet {
  margin-bottom: 20px;
}
pre {
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px;
}
.snippet-history {
  padding-bottom: 10px;
}
.snippet-owner {
  color: orange;
  font-weight: bold;
}
time {
  font-size: 14px;
}
textarea {
  min-height: 250px;
}
select {
  width: 100%;
  padding: 10px 5px;
}
